#tweet-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: none;
  border-bottom: 3px solid rgb(45, 45, 45);
  outline: none;
  background-color: transparent;
  resize: none;
}

#below-text-area {
  display: flex;
  justify-content: space-between;
  margin: 13px 0;
}

div#below-text-area button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", sans-serif;
  border: none;
}

div#below-text-area button:hover {
  background-color: #4056a1;
  color: #ff69b4;
  font-family: "Bungee", sans-serif;
  border: none;
  box-shadow: 4px 4px gray;
}

div#error-message {
  display: none;
  border: 4px solid red;
  font-family: "Times New Roman", sans-serif;
  color: black;
}

::placeholder {
  color: black;
  opacity: 1;
}

.new-tweet .counter.error {
  color: red;
}

.new-tweet h2 {
  margin-top: 0;
}