.tweets-container {
  margin: 1em 0;
}

article.tweet {
  border: 4px solid #4056a1;
  border-radius: 20px;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
}

article.tweet:hover {
  border: 4px solid #4056a1;
  border-radius: 20px;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  box-shadow: 12px 12px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

article.tweet header div img {
  margin-right: 0.5em;
}

article.tweet p {
  padding: 1em 0;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid black;
  padding-top: 1em;
}

article.tweet footer div {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

article.tweet i:hover {
  color: red;
}

div.wrapping-tweet {
  max-width: 1250px;
}

/*Desktop layout*/
@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: 200px 15px 0 70px;
  }
}
